@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* 
 */
 .rpg-card {
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 3px 4px #08080833;
    border: 1px solid #353535;
    color: #c4c4c4;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin: 4px;
    padding: 6px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .card-title {
    font-size: 18px;
    margin: 0;
  }
  
  .card-description {
    padding-left: 8px;

  }

  .card-description p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 4px;
    margin-bottom: 4px;
  }
  
  .card-button {
    background-color: #ff5722;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    letter-spacing: .8px;
    padding: 8px 16px;
  }

  .card-button.disabled {
    background-color: #949494;
    color: #505050;

  }
  
  .card-button:hover {
    background-color: #ff3d00;
  }


  /* 
 */


 .list-of-positions {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.list-of-positions li {
  margin-bottom: 5px;
  padding: 5px;
}

.list-of-positions li.active {
  background-color: #555;
}


/*  */
