/* theme */
.dark {
  background-color: var(--dark-background);
  color: var(--light-color);
}

/* card */
.app-card {
  max-width: 12rem;
  width: 100%;
  padding: .4rem;
  background-color: var(--dark-background);
  border: 1px solid var(--dark-background-alternative);
  position: relative;
}

.app-card img {
  width: 100%;
  display: inline-block;
}

.app-card-body {
  padding: .5rem 0;
}
.app-card-table tr td {
  font-size: .7rem;
}

.app-card-footer code {
  font-size: .7rem;
}
.hero-picking {
  border-color: #bfffd4;
}
.enemy-picking-attack:hover {
  border-color: #5552fc;
}
.enemy-picking-magic:hover {
  border-color: #fc527c;
}
.hero-picking:hover {
  border-color: #04ff57;
  cursor: pointer;
}
.hero-selected {
  filter: grayscale(100%);
}
.dead-character {
  filter: grayscale(100%);
  filter: blur(50%);
}

/* modal */
.modal-content, .modal-header, .modal-footer {
  border-radius: 0;
}
.modal-header, .modal-footer {
  border-top: 1px solid var(--dark-background-alternative);
  border-bottom: 1px solid var(--dark-background-alternative);
}

/* queue */
.list-item-hero {
  border-left: 3px solid var(--success);
}.list-item-enemy {
  border-left: 3px solid var(--alert);
}

/* map */
.position-empty {
  border-left: 3px solid #f0f0f0;
}
.position-item {
  border-left: 3px solid #4680ff;
}
.position-enemy {
  border-left: 3px solid #5133fd;
}
.position-boss {
  border-left: 3px solid #ff455e;
}




/* game-container */
.game-container {
  min-height: 100vh;
  background-color: #112928;
}
/* dice */
.dice-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4680ff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dice {
  font-size: 3rem;
}

pre {
  margin-bottom: 0;
}


.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}


.hero-strength {
  background-color: #ac375a;
  color: #fdfdfd;
}
.hero-intelligence {
  background-color: #30698a;
  color: #fdfdfd;
}

.hero-strength, .hero-intelligence {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 8px;

  text-align: center;
  font-size: .8rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}