body {
    background-color: #222222;
    color: #fefefe;
}

a {
    color: #fe143c;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-alert {
    color: #FF4136;
}

.none {
    display: none;
}

